/* ALL FONT STUFF */

/* 
@font-face {
    font-family: 'SangBleu';
    src: url("https://github.com/salomedesignhouse/salomedesignhouse.github.io/tree/main/fonts/SangBleuOGSans-Light.otf") format("opentype");
    src: url("https://github.com/salomedesignhouse/salomedesignhouse.github.io/tree/main/fonts/SangBleuOGSans-Light-WebS.woff") format("woff"), url("https://github.com/salomedesignhouse/salomedesignhouse.github.io/tree/main/fonts/SangBleuOGSans-Light-WebS.woff2") format("woff2");
    src: url("https://github.com/salomedesignhouse/salomedesignhouse.github.io/tree/main/fonts/SangBleuOGSans-Light.ttf") format("truetype");
    src: url("https://github.com/salomedesignhouse/salomedesignhouse.github.io/tree/main/fonts/SangBleuOGSans-Light-WebS.eot");
    src: url("https://github.com/salomedesignhouse/salomedesignhouse.github.io/tree/main/fonts/SangBleuOGSans-Light-WebS.eot#iefix") format('embedded-opentype');
    font-weight: light;
    font-style: regular;
} */

/* light */
@font-face {
    font-family: 'SangBleu';
    src: url(../fonts/SangBleuOGSans-Light-WebS.svg) format('svg');
    src: url(../fonts/SangBleuOGSans-Light.otf) format('opentype');
    src: url(../fonts/SangBleuOGSans-Light-WebS.woff) format('woff'), url(../fonts/SangBleuOGSans-Light-WebS.woff2) format('woff2');
    font-weight: light;
    font-style: regular;
}

/* regular */
@font-face {
    font-family: 'SangBleu';
    src: url(..font/SangBleuOGSans-Regular-WebS.svg) format('svg');
    src: url(../fonts/SangBleuOGSans-Regular.otf) format('opentype');
    src: url(../fonts/SangBleuOGSans-Regular-WebS.woff) format('woff'), url(../fonts/SangBleuOGSans-Regular-WebS.woff2) format('woff2');
    font-weight: regular;
    font-style: regular;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

/* Set font to SangBleu */
h1 {
    font-family: 'SangBleu', 'Lato', sans-serif;
    font-size: calc(3rem + 1.5vw);
    /* letter-spacing: 0.2rem; */
    font-weight: light;
}

h2 {
    font-family: 'SangBleu', 'Lato', sans-serif;
}

.display-4 {
    font-family: 'SangBleu';
}


a, li, ul, a :active, a :hover {
    color: #000;
}

.active {
    color: #000;
}

.hero {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 10rem 0;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.process-item .process-item-number {
    position: absolute;
    color: #e1e1e1;
    right: 0;
    top: 0;
    -webkit-transform: translate(127%,-21%);
    -ms-transform: translate(127%,-21%);
    transform: translate(127%,-21%);
    font-family: Lato,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 800;
    background-color: #fff;
    font-size: 3.157rem;
}

/* Cover Scroll */
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }


  /* Nav styling */

.navbar {
    color: #000;
}

.nav-link :active, .nav-link, nav-link :hover {
    color: #000;
}

.nav-item :hover, .nav-item :active {
    color: #000;
    text-decoration: line-through;
}