/* ALL FONT STUFF */


/* light */
@font-face {
    font-family: 'SangBleu';
    src: url(../fonts/SangBleuOGSans-Light-WebS.svg) format('svg');
    src: url(../fonts/SangBleuOGSans-Light.otf) format('opentype');
    src: url(../fonts/SangBleuOGSans-Light-WebS.woff) format('woff'), url(../fonts/SangBleuOGSans-Light-WebS.woff2) format('woff2');
    font-weight: light;
    font-style: regular;
}

/* light italic */
@font-face {
    font-family: 'SangBleu';
    src: url(../fonts/SangBleuOGSans-LightItalic-WebS.svg) format('svg');
    src: url(../fonts/SangBleuOGSans-LightItalic.otf) format('opentype');
    src: url(../fonts/SangBleuOGSans-LightItalic-WebS.woff) format('woff'), url(../fonts/SangBleuOGSans-LightItalic-WebS.woff2) format('woff2');
    font-weight: light;
    font-style: italic;
}

/* regular */
@font-face {
    font-family: 'SangBleu';
    src: url(..fonts/SangBleuOGSans-Regular-WebS.svg) format('svg');
    src: url(../fonts/SangBleuOGSans-Regular.otf) format('opentype');
    src: url(../fonts/SangBleuOGSans-Regular-WebS.woff) format('woff'), url(../fonts/SangBleuOGSans-Regular-WebS.woff2) format('woff2');
    font-weight: regular;
    font-style: regular;
}

/* regular italic */
@font-face {
    font-family: 'SangBleu';
    src: url(..fonts/SangBleuOGSans-RegularItalic-WebS.svg) format('svg');
    src: url(../fonts/SangBleuOGSans-RegularItalic.otf) format('opentype');
    src: url(../fonts/SangBleuOGSans-RegularItalic-WebS.woff) format('woff'), url(../fonts/SangBleuOGSans-RegularItalic-WebS.woff2) format('woff2');
    font-weight: regular;
    font-style: italic;
}


body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

/* Set font to SangBleu */
h1 {
    font-family: 'SangBleu', 'Lato', sans-serif;
    font-size: calc(4.75rem + 1.5vw);
    /* letter-spacing: 0.2rem; */
    font-weight: light;
    color: #fff;
    mix-blend-mode: difference;
    /* z-index: 10; */
    cursor:none;
}


h2 {
    font-family: 'SangBleu', 'Lato', sans-serif;
    font-weight: regular;
    font-size: calc(1.5rem + 1.5vw);
}

.display-4 {
    font-family: 'SangBleu';
}

.header-text {
    color: #fff;
    mix-blend-mode: difference;
}

a, a:active, a:hover, input {
    color: #000;
    /* font-family: 'SangBleu'; */
}

.active {
    color: #000;
}

.vertical-center {
    width: 100%;
	height: 75vh;
    min-height: 75%;
    display: flex;
    align-items: center;
}

/* Cover Scroll */
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}
  /* Nav styling */

.navbar {
    top: 0px;
    color: #fff;
    z-index: 10;
}

.navbar-expand-lg {
    color: #fff;
}

.nav-link:active, .nav-link, .nav-link:hover {
    color: #fff;
    font-weight: 400;
}

.nav-item:hover, .nav-item:active {
    color: #fff;
    text-decoration: line-through;
}

.navbar-text {
    color: #fff
}

.navbar-brand {
    color: #fff
}
.navbar-brand:hover {
    color: #fff
}

.nav-custom {
    background-color: rgb(34, 20, 20, 0);
}


/* Buttons */
.button-black {
    border: 0.75px solid;
    border-color: #000;
    color: #000;
    border-radius: 40px;
    background-color: transparent;
    margin: 1rem 0;
    padding: 1rem 3rem;
}

.button-black:hover {
    background-color: #000;
    color: #fff;
}

.button-white {
    border: 0.75px solid;
    border-color: #fff;
    color: #fff;
    border-radius: 40px;
    background-color: transparent;
    margin: 1rem 0;
    padding: 1rem 3rem;
}

.button-white:hover {
    background-color: #fff;
    color: #000;
}

.btn-primary:hover {
    background-color: #fff;
    border-color: #fff;
}

.red-text:hover{
    color: #e73827;
}

/* Nav Pills */
/* .nav-pills .show>.nav-link {
    color:#000;
    background-color: #fff;
}

.nav-pills .nav-link.active {
    color:#e73827;
    background-color: #fff;
} */

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1rem;
    color: #212529;
    font-size: 1rem;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(59, 7, 7, 0);
}

.list-group-item.active {
    z-index: 2;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-color: #ffffff;
}

.black-text, .black-text:hover {
    color: #000;
    background-color: #fff;
}

/* Pricing */

.card {
    border: none;
}

.premium-card {
    background: #ff583b;  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to left, #e73827, #f85032);  /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to left, #e73827, #f85032); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    color: #fff;
}

/* .btn-outline-primary-white */


.radial-gradient {
	position: relative;
	width: 100%;
	height: 100vh;
    min-height: 100%;
	/* background-image: url('../img/noise.png'); */
	background-size: auto;
	background-repeat: repeat;
    /*Fallback if gradients don't work */
    background: #e73827;
    /*Linear gradient... */
    background:
        radial-gradient(
        at center, #f85032, #f0edec
        );
        mix-blend-mode: multiply;
    }

.overlay {
    position: absolute;
    /* display: none; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../images/noise-overlay.png);
    z-index: -2;
    opacity: .2;
    cursor: pointer;
    }


@media screen and (min-width: 600px)  {
        .hide-mobile { display: none; }
}

*:target{
    border-color: #fff;
}

/* Scrolly thing */


.scroll-down {
	left: 50%;
	bottom: 10px;
	text-align: center;
	font-size: 20px;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 4s ease-in-out infinite;
	-moz-animation:    fade_move_down 4s ease-in-out infinite;
	animation:         fade_move_down 4s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}